<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   
    <connectionStrings>
        <add name="OrderTracker.Properties.Settings.OrderConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\App_Code\Order.accdb"
            providerName="System.Data.OleDb" />
        <add name="OrderTracker.Properties.Settings.ordertrackerConnectionString"
            connectionString="server=localhost;user id=order;database=ordertracker;pwd=Order1234;"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>